<section class = 'dev'>
    <div class = 'content'>
        <p class = 'name'>
            Dev 1
        </p>
        <p class = 'information'>
            Quick bio
        </p>
    </div>
    <div class = 'content'>
        <p class = 'name'>
            Dev 2
        </p>
        <p class = 'information'>
            Quick bio
        </p>
    </div>
    <div class = 'content'>
        <p class = 'name'>
            Dev 3
        </p>
        <p class = 'information'>
            Quick bio
        </p>
    </div>
    <div class = 'content'>
        <p class = 'name'>
            Dev 4
        </p>
        <p class = 'information'>
            Quick bio
        </p>
    </div>
</section>

<section class = 'how_to_use'>
    Grab-A-Gift is a simple website that makes your gift buying headaches a thing 
    of the past! Simply take our survey and browse our suggested gifts, or re-filter 
    based on your needs and interests! We use an EBay Catalog, so we are always up to date
    with the newest, hottest gifts. 
</section>