<section class = "dev">
    <div class = "devInfo">
        <p class = "name">
            Neranjan's Pick
        </p>
        <div class = "ourPick">
            {{> giftTemplate title = "New Electric Full Body Shiatsu Massage Chair Recliner Zero Gravity w/Heat 77" price = "563.99" image = "https://c1.neweggimages.com/ProductImage/A1JA_131157040952364490mkGPWPSQQN.jpg"}}
        </div>
    </div>
    <div class = "devInfo">
        <p class = "name">
            Connor's Pick
        </p>
        <div class = "ourPick">
             {{> giftTemplate title = "Jabra Elite 75t Voice Assistant True Wireless earbuds" price = "99.99" image = "https://target.scene7.com/is/image/Target/GUEST_cda31b24-2308-4b99-9636-0a5d7a0e6849?wid=325&hei=325&qlt=80&fmt=webp" }}
        </div>
    </div>
    <div class = "devInfo">
        <p class = "name">
            Andrew's Pick
        </p>
        <div class = "ourPick">
            {{> giftTemplate}}
        </div>
    </div>
    <div class = "devInfo">
        <p class = "name">
            Harjasleen's Pick
        </p>
        <div class = "ourPick">
            {{> giftTemplate}}
        </div>
    </div>
</section>