html,body {
  margin: 0;
}

.navbar {
  background-color: #f8f9fa;
  padding: 4px;
  padding-right: 1px;
  display: flex;
  align-items: center;
}
.dropbtn {
  background-image: url('img/hamburger_menu.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: solid;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.item-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.gift {
  width: 310px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

.gift .gift-content {
  flex: 0 1 28%;
  display: flex;
  align-items: center;
}

.gift .gift-content .gift-items {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.gift .gift-content .gift-picture {
  max-width: 100px;
  max-height: 100px;
}

.form-container {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 20px;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #acabaa;}
