<article class="gift">
        <div class="gift-content">
          <img class = "gift-picture" src = "{{giftURL}}"/>

          <p class="gift-description">
            {{description}}
          </p>

          <p class="gift-price">
            {{price}}
          </p>
          
          <p class="gift-rating">
              {{rating}}
          </p>
        </div>
      </article>